         @import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
         html,
         body {
         background: #000000;
         font-family: Quicksand, Arial, Verdana, sans-serif;
         font-size: 14px;
         color: #444;
         }
         main {
         background: #fff;
         box-sizing: border-box;
         box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
         margin: 2rem auto;
         padding: 2.75rem;
         position: relative;
         }
         h1 {
         margin: 0;
         font-size: 2.5rem;
         line-height: 2rem;
         font-weight: normal;
         color: #000;
         }
         h2 {
         color: #47a;
         font-size: 1rem;
         font-weight: bold;
         margin: 0;
         margin-top: 1.5rem;
         text-transform: uppercase;
         }
         h3 {
         color: #111;
         font-size: 1.25rem;
         margin-top: 0rem;
         margin: 0;
         font-weight: normal;
         }
         h3 span.dept {
         color: #aaa;
         }
         h3 span.dept::before {
         content: "";
         border-left: 1px solid #ccc;
         padding-left: 0.4rem;
         }
         h4 {
         margin: 0;
         font-weight: normal;
         }
         h4 span.dates {
         color: #888;
         display: inline-block;
         float: right;
         }
         p {
         font-size: 1rem;
         margin-top: 0.5rem;
         margin-bottom: 0;
         }
         a {
         color: #369;
         }
         a:hover {
         color: #36c;
         }
         time {
         display: inline-block;
         min-width: 2rem;
         }
         address {
         font-style: normal;
         }
         .normal {
         font-weight: normal;
         }
         .position {
         margin-top: 0.75rem;
         transition: opacity 0.7s;
         }
         .no-bullets,
         .no-bullets ul {
         list-style: none;
         margin-left: 0;
         padding-left: 0;
         color: #000;
         font-weight: bold;
         }
         .no-bullets ul {
         font-weight: normal;
         }
         .no-bullets span {
         color: #666;
         }
         #contact {
         text-align: right;
         font-size: 0.9rem;
         }
         #phone {
         font-size: 1.25rem;
         font-weight: bold;
         text-decoration: none !important;
         }
         #location {
         font-size: 1.1rem;
         }
         #languages {
         column-count: 4;
         }
         a,
         a:visited,
         a:link,
         a:active,
         a:focus,
         #languages label {
         color: #395;
         }
         #professional-experience {
         position: relative;
         }
         main input {
         position: absolute;
         left: -10000px;
         }
         .educert {
         display: flex;
         }
         .educert li {
         flex: 1;
         align-items: start;
         justify-content: start;
         }
         #html:not(:checked) ~ div [for="html"]::before,
         #javascript:not(:checked) ~ div [for="javascript"]::before,
         #css:not(:checked) ~ div [for="css"]::before,
         #rest:not(:checked) ~ div [for="rest"]::before,
         #java:not(:checked) ~ div [for="java"]::before,
         #cplusplus:not(:checked) ~ div [for="cplusplus"]::before,
         #soap:not(:checked) ~ div [for="soap"]::before,
         #sql:not(:checked) ~ div [for="sql"]::before,
         #xml:not(:checked) ~ div [for="xml"]::before,
         #mysql:not(:checked) ~ div [for="mysql"]::before,
         #graphql:not(:checked) ~ div [for="graphql"]::before,
         #aem:not(:checked) ~ div [for="aem"]::before,
         #json:not(:checked) ~ div [for="json"]::before,
         #seo:not(:checked) ~ div [for="seo"]::before,
         #a11y:not(:checked) ~ div [for="a11y"]::before,
         #junit:not(:checked) ~ div [for="junit"]::before,
         #db2:not(:checked) ~ div [for="db2"]::before,
         #teradata:not(:checked) ~ div [for="teradata"]::before,
         #mongoDB:not(:checked) ~ div [for="mongoDB"]::before,
         #db2:not(:checked) ~ div [for="db2"]::before,
         #less:not(:checked) ~ div [for="less"]::before,
         #api:not(:checked) ~ div [for="api"]::before,
         #mobile:not(:checked) ~ div [for="mobile"]::before,
         #apache:not(:checked) ~ div [for="apache"]::before,
         #websphere:not(:checked) ~ div [for="websphere"]::before,
         #jboss:not(:checked) ~ div [for="jboss"]::before,
         #tomcat:not(:checked) ~ div [for="tomcat"]::before,
         #jenkins:not(:checked) ~ div [for="jenkins"]::before,
         #maven:not(:checked) ~ div [for="maven"]::before,
         #git:not(:checked) ~ div [for="git"]::before,
         #okta:not(:checked) ~ div [for="okta"]::before,
         #sso:not(:checked) ~ div [for="sso"]::before,
         #oauth:not(:checked) ~ div [for="oauth"]::before,
         #saml:not(:checked) ~ div [for="saml"]::before,
         #ecommerce:not(:checked) ~ div [for="ecommerce"]::before,
         #agile:not(:checked) ~ div [for="agile"]::before,
         #aem:not(:checked) ~ div [for="aem"]::before,
         #target:not(:checked) ~ div [for="target"]::before,
         #analytics:not(:checked) ~ div [for="analytics"]::before,
         #campaign:not(:checked) ~ div [for="campaign"]::before,
         #magento:not(:checked) ~ div [for="magento"]::before,
         #jquery:not(:checked) ~ div [for="jquery"]::before {
         content: "\2610 ";
         font-size: 1.2rem;
         color: #aaa;
         font-weight: bold;
         }
         #html:checked ~ div [for="html"]::before,
         #javascript:checked ~ div [for="javascript"]::before,
         #css:checked ~ div [for="css"]::before,
         #rest:checked ~ div [for="rest"]::before,
         #java:checked ~ div [for="java"]::before,
         #cplusplus:checked ~ div [for="cplusplus"]::before,
         #soap:checked ~ div [for="soap"]::before,
         #sql:checked ~ div [for="sql"]::before,
         #xml:checked ~ div [for="xml"]::before,
         #mysql:checked ~ div [for="mysql"]::before,
         #graphql:checked ~ div [for="graphql"]::before,
         #aem:checked ~ div [for="aem"]::before,
         #json:checked ~ div [for="json"]::before,
         #seo:checked ~ div [for="seo"]::before,
         #a11y:checked ~ div [for="a11y"]::before,
         #junit:checked ~ div [for="junit"]::before,
         #db2:checked ~ div [for="db2"]::before,
         #teradata:checked ~ div [for="teradata"]::before,
         #mongoDB:checked ~ div [for="mongoDB"]::before,
         #less:checked ~ div [for="less"]::before,
         #mobile:checked ~ div [for="mobile"]::before,
         #apache:checked ~ div [for="apache"]::before,
         #websphere:checked ~ div [for="websphere"]::before,
         #jboss:checked ~ div [for="jboss"]::before,
         #tomcat:checked ~ div [for="tomcat"]::before,
         #api:checked ~ div [for="api"]::before,
         #jenkins:checked ~ div [for="jenkins"]::before,
         #maven:checked ~ div [for="maven"]::before,
         #git:checked ~ div [for="git"]::before,
         #okta:checked ~ div [for="okta"]::before,
         #sso:checked ~ div [for="sso"]::before,
         #oauth:checked ~ div [for="oauth"]::before,
         #saml:checked ~ div [for="saml"]::before,
         #ecommerce:checked ~ div [for="ecommerce"]::before,
         #agile:checked ~ div [for="agile"]::before,
         #aem:checked ~ div [for="aem"]::before,
         #target:checked ~ div [for="target"]::before,
         #analytics:checked ~ div [for="analytics"]::before,
         #campaign:checked ~ div [for="campaign"]::before,
         #magento:checked ~ div [for="magento"]::before,
         #jquery:checked ~ div [for="jquery"]::before {
         content: "\2611 ";
         font-size: 1.2rem;
         color: #000;
         font-weight: bold;
         }
         #filters {
         position: absolute;
         top: 0;
         right: 0;
         z-index: 1;
         }
         #filters > ul {
         list-style: none;
         padding-left: 0;
         margin: -0.5rem;
         padding: 0.5rem;
         }
         #filters > ul > li > h3 {
         margin: 0;
         display: block;
         text-align: right;
         font-weight: bold;
         font-size: 1rem;
         color: #395;
         text-transform: uppercase;
         }
         #filters > ul > li > h3::before {
         content: "\2610 ";
         font-size: 1.2rem;
         }
         input:checked ~ div #filters > ul > li > h3::before {
         content: "\2611 ";
         }
         #filters > ul:hover {
         background: white;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
         }
         #filters > ul:hover ul {
         list-style: none;
         padding-left: 0;
         display: block;
         column-count: 4;
         }
         #filters > ul > li > ul {
         position: relative;
         top: 0;
         right: 0;
         display: none;
         padding: 1rem;
         }
         label {
         cursor: pointer;
         }
         input:checked ~ div section.position,
         input:checked ~ div #languages label {
         opacity: 0.25;
         }
         #html:checked ~ div .position.html,
         #javascript:checked ~ div .position.javascript,
         #css:checked ~ div .position.css,
         #rest:checked ~ div .position.rest,
         #sling:checked ~ div .position.sling,
         #java:checked ~ div .position.java,
         #cplusplus:checked ~ div .position.cplusplus,
         #soap:checked ~ div .position.soap,
         #sql:checked ~ div .position.sql,
         #xml:checked ~ div .position.xml,
         #mysql:checked ~ div .position.mysql,
         #graphql:checked ~ div .position.graphql,
         #seo:checked ~ div .position.seo,
         #aem:checked ~ div .position.aem,
         #json:checked ~ div .position.json,
         #a11y:checked ~ div .position.a11y,
         #junit:checked ~ div .position.junit,
         #less:checked ~ div .position.less,
         #db2:checked ~ div .position.db2,
         #apache:checked ~ div .position.apache,
         #websphere:checked ~ div .position.websphere,
         #jboss:checked ~ div .position.jboss,
         #maven:checked ~ div .position.maven,
         #jenkins:checked ~ div .position.jenkins,
         #git:checked ~ div .position.git,
         #okta:checked ~ div .position.okta,
         #sso:checked ~ div .position.sso,
         #saml:checked ~ div .position.saml,
         #ecommerce:checked ~ div .position.ecommerce,
         #agile:checked ~ div .position.agile,
         #oauth:checked ~ div .position.oauth,
         #aem:checked ~ div .position.aem,
         #target:checked ~ div .position.target,
         #analytics:checked ~ div .position.analytics,
         #campaign:checked ~ div .position.campaign,
         #magento:checked ~ div .position.magento,
         #tomcat:checked ~ div .position.tomcat,
         #teradata:checked ~ div .position.teradata,
         #mongoDB:checked ~ div .position.mongoDB,
         #mobile:checked ~ div .position.mobile,
         #api:checked ~ div .position.api,
         #jquery:checked ~ div .position.jquery,
         #html:checked ~ div #languages [for="html"],
         #javascript:checked ~ div #languages [for="javascript"],
         #css:checked ~ div #languages [for="css"],
         #rest:checked ~ div #languages [for="rest"],
         #sling:checked ~ div #languages [for="sling"],
         #json:checked ~ div #languages [for="json"],
         #junit:checked ~ div #languages [for="junit"],
         #xml:checked ~ div #languages [for="xml"],
         #java:checked ~ div #languages [for="java"],
         #cplusplus:checked ~ div #languages [for="cplusplus"],
         #soap:checked ~ div #languages [for="soap"],
         #apache:checked ~ div #languages [for="apache"],
         #websphere:checked ~ div #languages [for="websphere"],
         #jboss:checked ~ div #languages [for="jboss"],
         #tomcat:checked ~ div #languages [for="tomcat"],
         #db2:checked ~ div #languages [for="db2"],
         #maven:checked ~ div #languages [for="maven"],
         #graphql:checked ~ div #languages [for="graphql"],
         #jenkins:checked ~ div #languages [for="jenkins"],
         #git:checked ~ div #languages [for="git"],
         #okta:checked ~ div #languages [for="okta"],
         #sso:checked ~ div #languages [for="sso"],
         #oauth:checked ~ div #languages [for="oauth"],
         #saml:checked ~ div #languages [for="saml"],
         #ecommerce:checked ~ div #languages [for="ecommerce"],
         #agile:checked ~ div #languages [for="agile"],
         #aem:checked ~ div #languages [for="aem"],
         #target:checked ~ div #languages [for="target"],
         #analytics:checked ~ div #languages [for="analytics"],
         #campaign:checked ~ div #languages [for="campaign"],
         #magento:checked ~ div #languages [for="magento"],
         #teradata:checked ~ div #languages [for="teradata"],
         #mongoDB:checked ~ div #languages [for="mongoDB"],
         #sql:checked ~ div #languages [for="sql"] {
         opacity: 1;
         }
         #contact-mini {
         display: flex;
         margin-top: 1rem;
         }
         #contact-mini > div {
         font-size: 0.75rem;
         flex: 1;
         }
         #contact-mini > div:nth-child(2) {
         text-align: center;
         flex: 2;
         }
         #contact-mini > div:last-child {
         text-align: right;
         }
         input:checked ~ div #languages label[for]::before,
         input:not(:checked) ~ div #languages label[for]::before {
         content: "";
         }
         #contact {
         display: none;
         }
         @media all and (min-width: 630px) {
         main {
         max-width: 600px;
         }
         #contact-mini > div {
         font-size: 1rem;
         }
         }
         @media all and (min-width: 1000px) {
         html,
         body {
         font-size: 16px;
         }
         main {
         max-width: 920px;
         display: flex;
         }
         main > div:first-child {
         flex: 1;
         }
         main > div:last-child {
         width: 21%;
         margin-left: 4%;
         }
         #languages {
         column-count: 1;
         }
         .educert {
         display: block;
         }
         .educert > li:nth-child(n + 2) {
         margin-top: 0.75rem;
         }
         #contact-mini {
         display: none;
         }
         #contact {
         display: block;
         }
         #email,
         #website {
         font-size: 0.9em;
         }
         }
         @media all and (min-width: 1200px) {
         html,
         body {
         font-size: 18px;
         }
         main {
         max-width: 1120px;
         }
         #email,
         #website {
         font-size: 1em !important;
         }
         }
         @media print {
         @page {
         size: 900px;
         }
         html,
         body {
         background: #fff;
         font-size: 16px;
         width: 900px;
         }
         a,
         a:visited,
         a:link,
         a:active,
         a:focus,
         #languages label {
         text-decoration: none;
         color: #000;
         }
         main {
         margin: 0;
         max-width: 920px;
         display: flex;
         box-shadow: none;
         }
         main > div:first-child {
         flex: 1;
         }
         main > div:last-child {
         width: 21%;
         margin-left: 4%;
         }
         #filters {
         display: none;
         }
         #languages {
         column-count: 1;
         }
         .educert {
         display: block;
         }
         .educert > li:nth-child(n + 2) {
         margin-top: 0.75rem;
         }
         .position {
         opacity: 1 !important;
         }
         #contact-mini {
         display: none;
         }
         #contact {
         display: block;
         }
         }
         .modal-header, h4, .close {
         background-color: #5cb85c;
         color:white !important;
         text-align: center;
         font-size: 30px;
         }
         .modal-footer {
         background-color: #f9f9f9;
         }
         .highlight {
         color: #395;
         font-size: .75rem;
         }
         .cardtext {
         color: #111;
         font-size: .75rem;
         }
         .btn-sm {
         padding: 0rem .1rem;
         font-size: .875rem;
         font-size: .75re;
         border-radius: .6rem;
         der-radius: .2rem;
         }
         .thick{
         font-weight: 900;
         }
         .no-bullets li { display: inline-block; }